<div class="flex flex-col bg-primary h-full">
  <img src="images/@@themeImage" alt="@@name" />
  <div class="flex justify-between items-center px-5 -mt-4">
    <img src="images/@@avatar" alt="avatar" />
    <div class="bg-navy py-1 px-3 rounded-full">
      <span class="text-gradient uppercase text-sm">Premium</span>
    </div>
  </div>
  <div class="px-5 flex flex-col gap-2 items-start mt-4 h-full">
    <h5 class="text-2xl  mb-2 flex-grow">@@name</h5>

    <div class="border-t border-t-body/50 w-full pt-3 pb-2">
      <button class="border border-body/50 py-1 px-2 rounded-full text-sm hover:bg-body/50 hover:text-light transition duration-200 ease-in">
        View Details
      </button>
    </div>
  </div>
</div>
