<!-- Call to actions -->
<section class="my-28">
  <div class="container">
    <div class="row bg-primary  py-20 px-2 sm:rounded-xl relative">
      <img src="images/grid-shap.png" alt="shape" class="absolute top-0 left-0 size-full" />
      <div class="md:col-10 lg:col-8  mx-auto text-center relative z-10">
        <h3 class="mb-6 text-white">Join Our Newsletter!</h3>
        <p class="text-lg sm:text-base">
          Stay ahead of the curve with Astrothemes.club! Sign up for our
          newsletter to receive the latest updates, exclusive resources, and
          tips directly in your inbox.
        </p>
       <div class="row">
         <form class="flex flex-col sm:flex-row sm:justify-between mt-8 bg-light rounded-md sm:rounded-full sm:px-1 px-0 sm:py-1 overflow-hidden sm:col-10 mx-auto">
          <input
            type="email"
            name="email"
            placeholder="Email address"
            class="sm:flex-1 border-none outline-none placeholder:text-sm placeholder:text-dark/40 focus:ring-0 text-dark"
            required
          />
          <button
            type="submit"
            class="btn bg-dark text-white hover:bg-primary rounded-md sm:rounded-full !py-3 w-full sm:w-auto mt-2 sm:mt-0" 
          >
            Subscribe
          </button>
        </form>
       </div>
      </div>
    </div>
  </div>
</section>
<!-- /Call to actions -->
