<footer>
  <div class="container">
    <div class="row pb-16 gap-y-10">
      <!-- about company -->
      <div class="lg:col-5 mb-6 lg:mb-0">
        <div class="xl:col-8">
          <!-- navbar brand/logo -->
          <a class="mb-5 inline-block" href="/">
            <img src="images/logo.png" alt="Conf Theme" />
          </a>
          <p class="mb-9 text-sm text-light leading-relaxed font-normal">
            Astrothemes.club is an extensive directory features over 200 curated
            Astro themes, including premium, free, and open-source resources
            designed for the Astro framework.
          </p>

          <!-- social icons -->
          <ul class="social-icons">
            <li>
              <a
                href="https://www.facebook.com"
                target="_blank"
                aria-label="Visit us on Facebook"
              >
                <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
                <span class="sr-only">Facebook</span>
              </a>
            </li>
            <li>
              <a
                href="https://www.twitter.com"
                target="_blank"
                aria-label="Visit us on Twitter"
              >
                <i class="fa-brands fa-twitter" aria-hidden="true"></i>
                <span class="sr-only">Twitter</span>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com"
                target="_blank"
                aria-label="Visit us on LinkedIn"
              >
                <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
                <span class="sr-only">LinkedIn</span>
              </a>
            </li>
            <li>
              <a
                href="https://www.github.com"
                target="_blank"
                aria-label="Visit us on GitHub"
              >
                <i class="fa-brands fa-github" aria-hidden="true"></i>
                <span class="sr-only">GitHub</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- company links -->
      <div class="lg:col-7">
        <div class="row justify-between">
          <!-- col-1  -->
          <div class="sm:col-6 md:col-3 mb-10 xl:mb-0">
            <h6 class="mb-1">Pages</h6>
            <ul class="flex flex-col text-light text-base-sm">
              <li class="mt-3">
                <a href="/">All Themes</a>
              </li>
              <li class="mt-3">
                <a href="/">Contact Us</a>
              </li>
              <li class="mt-3">
                <a href="/">Submit</a>
              </li>
            </ul>
          </div>

          <!-- col-2  -->
          <div class="sm:col-6 md:col-3 mb-10 xl:mb-0">
            <h6 class="mb-1">Categories</h6>
            <ul class="flex flex-col text-light text-base-sm">
              <li class="mt-3">
                <a href="/">Dashboard</a>
              </li>
              <li class="mt-3">
                <a href="/">Ecommerce</a>
              </li>
              <li class="mt-3">
                <a href="/">Business</a>
              </li>
              <li class="mt-3">
                <a href="/">Boilerplate</a>
              </li>
              <li class="mt-3">
                <a href="/">Saas</a>
              </li>
            </ul>
          </div>

          <!-- col-3  -->
          <div class="sm:col-6 md:col-3 mb-10 xl:mb-0">
            <h6 class="mb-1">Technology</h6>
            <ul class="flex flex-col text-light text-base-sm">
              <li class="mt-3">
                <a href="/">Tailwind</a>
              </li>
              <li class="mt-3">
                <a href="/">Bootstarp</a>
              </li>
              <li class="mt-3">
                <a href="/">Tina</a>
              </li>
              <li class="mt-3">
                <a href="/">Bulma</a>
              </li>
              <li class="mt-3">
                <a href="/">Markdown</a>
              </li>
              <li class="mt-3">
                <a href="/">Contentful</a>
              </li>
              <li class="mt-3">
                <a href="/">StaticCMS</a>
              </li>
            </ul>
          </div>

          <!-- col-4  -->
          <div class="sm:col-6 md:col-3 mb-10 xl:mb-0">
            <h6 class="mb-1">Legal</h6>
            <ul class="flex flex-col text-light text-base-sm">
              <li class="mt-3">
                <a href="/">Privacy Policy</a>
              </li>
              <li class="mt-3">
                <a href="/">Terms of Service</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- bottom footer -->
  <div class="container border-t border-light/40 py-5">
    <p class="text-center text-light">Copyright © 2024 - Astrothemes Club</p>
  </div>
</footer>

<!-- jQuery -->
<!-- <script src="plugins/jquery/jquery.min.js"></script> -->
<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<!-- Main Script -->
<script src="scripts/main.js"></script>
