<section class="relative section-sm ">
  <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-body "></div>
      <img
    src="images/grid-shap.png"
    alt="shap"
    class="size-full absolute top-0 left-0 -z-10 object-cover"
  />
  <img
    src="images/plus-shap.png"
    alt="shap"
    class="size-full absolute top-0 left-0 -z-10 object-cover"
  />
  <div class="container text-center relative z-10">
    <div class="row">
      <div class="sm:col-8 mx-auto">
        <h1 class="mb-6 text-h3-sm sm:text-h1-sm">@@title</h1>
        <p class="text-base-sm sm:text-xl sm:leading-7">@@description</p>
      </div>
    </div>
  </div>
</section>
