<section class="relative section-sm h-[400px]">
  <img
    src="images/grid-shap.png"
    alt="shap"
    class="size-full absolute top-0 left-0 -z-10 object-cover"
  />
  <img
    src="images/plus-shap.png"
    alt="shap"
    class="size-full absolute top-0 left-0 -z-10 object-cover"
  />
  <div class="container text-center">
    <div class="row">
      <div class="sm:col-8 mx-auto">
        <h1 class="mb-6">@@title</h1>
        <p class="sm:text-xl leading-8">@@description</p>
      </div>
    </div>
  </div>
</section>
