<!-- <section>
  <div class="container text-center">
    <div
      class="rounded-2xl bg-gradient-to-b from-body to-theme-light px-8 py-14"
    >
      <h1>@@title</h1>
      <ul class="breadcrumb mt-6 inline-flex">
        <li class="mx-1 capitalize">
          <a class="text-primary" href="#">Home</a>
        </li>
        <li class="mx-1 capitalize text-light">
          <span class="inlin-block mr-1">/</span>
          @@title
        </li>
      </ul>
    </div>
  </div>
</section> -->

<section class="relative section-sm h-[400px]">
  <img
    src="images/grid-shap.png"
    alt="shap"
    class="size-full absolute top-0 left-0 -z-10 object-cover"
  />
  <img
    src="images/plus-shap.png"
    alt="shap"
    class="size-full absolute top-0 left-0 -z-10 object-cover"
  />
  <div class="container text-center">
    <div class="row">
      <div class="col-8 mx-auto">
        <h1 class="mb-6">@@title</h1>
    <p class="text-lg leading-7">@@description</p>
      </div>
    </div>
  </div>
</section>
